<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{config('app.name','Laravel')}}</title>
	<link rel="stylesheet" href="{{asset('css/app.css')}}">
</head>
<body>
	@incude('inc.navbar')
	<div class="container">
		@include('inc.messages')
		@yield('content')
	</div>
	<script src="/vendor/unisharp/laravel-ckeditor/ckeditor.js"></script>
	<script>
		CKDITOR.replace('artical-ckeditor');
	</script>
</body>
</html>