select.form-control{
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    background-image: url(down-arrow.png);
    background-repeat: no-repeat;
    background-position: center right 5px;
    background-size: 12px;
}
select[multiple].form-control {
    -webkit-appearance: menulist-button;
    background-image: none;
}
.multiple-sel .btn-group{
	width:100%;
}

.multiple-sel .dropdown-menu{
	font-size: 14px !important;
	padding: 5px 10px !important;
	overflow: auto;
	height: 200px;
	min-width: 100% !important;
}
.multiple-sel .dropdown-menu>li>a{
	padding: 0px 25px !important;
    line-height: 12px !important;
}

.multiple-sel .multiselect{
	text-align: left !important;
	background: #fff !important;
	color: #555 !important;
}
.multiple-sel .btn .caret{
	    float: right;
    margin-top: 5px;
    margin-right: -7px;
    border-top: none;
    border-top: none;
    border-right: none !important;
    border-left: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(down-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12px;
    width: 12px;
    height: 12px;
}
.multiple-sel .btn{
	box-shadow:none !important;
	border-color: #ccc !important;
}



.multiselect-container li .checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.multiselect-container li{
  position: relative;
  cursor: pointer;
  padding: 0;
}
.multiselect-container li:before {
  content: '';
  margin-right: 0px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  top: 6px;
}

.multiselect-container li:focus:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.multiselect-container li.active:before {
  background: #fff;
}

.multiselect-container li:before {
  box-shadow: none;
  background: #fff;
  border: solid 1px #ddd;
}
.multiselect-container li.active:after  {
  content: '';
  position: absolute;
  left: 3px;
  top: 13px;
  background: #555;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #555, 4px 0 0 #555, 4px -2px 0 #555, 4px -4px 0 #555, 4px -6px 0 #555, 4px -8px 0 #555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}








.multiple-sel .dropdown-menu .checkbox{
	color:#555 !important;
	font-weight: normal !important;
}

.multiple-sel .dropdown-menu .active .checkbox{
	color:#555 !important;
	background: #e2e0de !important;
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background: #e2e0de !important;
	background-image: linear-gradient(to bottom,#e2e0de 0,#e2e0de 100%) !important;
}
.multiselect-wrapper {
	width: 180px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.multiselect-wrapper .multiselect-input {
	width: 120px;
	padding-right: 50px;
}

.multiselect-wrapper label {
	display: block;
	font-size: 12px;
	font-weight : 600;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
	position: absolute;
	display: none;
	background-color: white;
	border: 1px solid grey;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: -2px;
}

	.multiselect-wrapper .multiselect-list.active {
		display: block;
	}

	.multiselect-wrapper .multiselect-list > span {
		font-weight: bold;
	}

	.multiselect-wrapper .multiselect-list .multiselect-checkbox {
		margin-right: 2px;
	}

	.multiselect-wrapper .multiselect-list > span,
	.multiselect-wrapper .multiselect-list li {
		cursor: default;
	}

.multiselect-wrapper .multiselect-list {
	padding: 5px;
	min-width: 200px;
}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.multiselect-wrapper ul li {
		padding-right: 20px;
		display: block;
	}

		.multiselect-wrapper ul li.active {
			background-color: rgb(0, 102, 255);
			color: white;
		}

		.multiselect-wrapper ul li:hover {
			background-color: rgb(0, 102, 255);
			color: white;
		}

.multiselect-input-div {
	height: 34px;
}

	.multiselect-input-div input{
		border: 1px solid #ababab;
		background : #fff;
		margin: 5px 0 6px 0;
		padding: 5px;
		vertical-align:middle;
	}

.multiselect-count {
	position: relative;
	text-align: center;
	border-radius: 2px;
	behavior: url(/Content/Pie/pie.htc);
	background-color: lightblue;
	display: inline-block !important;
	padding: 2px 7px;
	left: -45px;
}

.multiselect-dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: absolute;
	line-height: 20px;
	text-align: center;
	display: inline-block !important;
	margin-top: 17px;
	margin-left: -42px;
}
